---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"software">>;
}

const { page } = Astro.props;
---

<Layout title={`Software | ${SITE.title}`}>
  <Header activeNav="software" />
  <main class="mx-auto w-full max-w-3xl px-4 pb-12">
    <h1 class="text-3xl mt-5 font-semibold">Software/Datasets</h1>
    <p class="mt-2 opacity-80"> My software developments and data catalogues.</p>
    <ul>
      {page.data.map(({ data, slug }) => (
        <Card href={`/software/${slug}/`} frontmatter={data} />
      ))}
    </ul>
  </main>

  <Pagination {page} />
  <Footer noMarginTop={page.lastPage > 1} />
</Layout>